<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091407447247-b2bahqlfst7b2hhogkit9qjoigmp59hb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091407447247-b2bahqlfst7b2hhogkit9qjoigmp59hb</string>
	<key>API_KEY</key>
	<string>AIzaSyAbdAft5lxTZ4OsSjOryTu8fn4PxuB1Fr0</string>
	<key>GCM_SENDER_ID</key>
	<string>1091407447247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobScout.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>job-scout-73434</string>
	<key>STORAGE_BUCKET</key>
	<string>job-scout-73434.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091407447247:ios:b7112937548eadfc66e3ba</string>
</dict>
</plist>